<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Hassan Daoudi" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <script src="/css/jquery.js" type="text/javascript"></script>
   <script src="/css/popup.js" type="text/javascript"></script>

</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Hassan Daoudi</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Hassan Daoudi<br />
      </p>
    </div>
    <div class="contact">
      <p>
	    <a href="mailto:hdaoudi@venturiate.com">hdaoudi@venturiate.com</a> or <a href="http://twitter.com/hdaoudi/">@hdaoudi</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://venturiate.com">
        <img src="http://venturiate.com/Venturiate.png" width="100px" />
      </a>
    </div>
  </div>
</div>

<!-- ClickTale Bottom part -->

<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>